* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#section {
  background: #2F91BB;
  height: 995px;
}
#section .section--text {
  padding-top: 100px;
  display: flex;
}
#section .section--text h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  line-height: 150px;
}
#section .section--text h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 100px;
  line-height: 150px;
}
#section .section--line {
  margin: 40px 0 100px 0;
  width: 83px;
  height: 0;
  border: 5px solid #FFFFFF;
}
#section .section--link {
  color: #2F91BB;
}
#section .section--link h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  color: white;
}
#section .section--link h2 {
  margin-left: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

#img {
  background: white;
  height: 994px;
}
#img .img--special {
  display: flex;
  justify-content: end;
}
#img .img--special__block {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#img .img--special__block--nom {
  width: 600px;
  z-index: 2;
}
#img .img--special__block--big {
  z-index: 2;
  margin-left: 70px;
}
#img .img--position {
  top: 696px;
  position: absolute;
  width: 1000px;
}

#hero {
  background: #2F91BB;
}
#hero .hero--name {
  margin-left: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
#hero .hero--name h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  color: white;
}
#hero .hero--name h3 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: white;
  font-weight: 100;
}
#hero .hero--block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
}
#hero .hero--block img {
  width: 330px;
}
#hero .hero--svg svg {
  width: 400px;
}
#hero .hero--modern {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 50px 50px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}
#hero .hero--modern__img {
  display: flex;
  flex-direction: column;
}
#hero .hero--modern__img img {
  padding-bottom: 0;
}

#phone {
  padding-top: 150px;
  background: #2F91BB;
}
#phone .phone--link h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  color: white;
}
#phone .phone--link h2 {
  margin-left: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: white;
}
#phone .phone--link svg {
  padding-top: 40px;
  margin-left: 100px;
}
#phone .phone--mobile {
  display: flex;
}
#phone .phone--mobile__img1 {
  margin-top: 40px;
  width: 22%;
  height: 600px;
}
#phone .phone--mobile__img2 {
  width: 22%;
  height: 600px;
  margin: 120px 150px 0 150px;
}
#phone .phone--mobile__img3 {
  width: 22%;
  height: 600px;
  margin: 240px 0 40px 0;
}

#statistics {
  background: white;
}
#statistics .statistics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  padding: 60px 10px;
}
#statistics .statistics img {
  width: 95%;
}

#comment {
  background: #2F91BB;
}
#comment .comment--link h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  color: white;
}
#comment .comment--link h2 {
  margin-left: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: white;
}
#comment .comment--img {
  margin-top: 60px;
}
#comment .comment--img__big {
  width: 70%;
}
#comment .comment--img__small {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 180px 220px 0 0;
}
#comment .comment--img__small img {
  position: absolute;
  width: 350px;
}
#comment .comment--block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
#comment .comment--block img {
  width: 100%;
}
#comment .comment--link {
  padding: 100px 0;
}
#comment .comment--link h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  color: white;
}
#comment .comment--link h2 {
  margin-left: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
